body {
  font-family: times;
}

img {
  float: right;
  zoom: 10%;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 2;
}

h4 {
  font-style: italic;
  font-weight: bold;
}

.obj {
  margin: 12px;
  border: 3px solid blue;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: yellow;
  text-align: center;
}

.dates {
  font-style: italic;
}
